$white: #fff;
$black: #000;
$background-primary: #585757;
$background-secondary: #79777c;
$header-footer: #252339;
$text-primary: #fff;
$text-primary-hover: #f4f4f4;
$text-secondary: #c9d3e1;
$text-ternary: rgba(255, 255, 255, 0.4);
$code-bg: #50506b;
$border: rgba(0, 0, 0, 0.1);
$border-focus: rgba(0, 0, 0, 0.2);

$button-primary: #4f4a82;
$button-primary-hover: #3b3959;
$button-secondary: transparent;
$button-secondary-hover: #50506b;

$green: #3bb33b;
$green-intense: #03e952;
$red: #ed352c;
$red-intense: #fc3f1d;
$orange: #f50;
$orange-light: #f99540;
$orange-intense: #f25900;
$blue: #4434ff;
$blue-intense: #3d2ae4;

$desktop: 1140px;
$header-height: 88px;
$footer-height: 70px;

$iphoneSE: 375px;
$iphoneXR: 414px;
$phone-width: 768px;
$tablet-width: 1000px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin books-section {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
