@import './../../styles/variables.scss';
.search {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  &__input {
    padding: 12px 20px;
    width: 400px;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.15s ease-in-out;

    &:focus {
      outline: 1px solid $border-focus;
    }
  }

  @media (max-width: 500px) {
    .search {
      &__input {
        width: 300px;
      }
    }
  }
}